fastapi
uvicorn[standard]
python-dotenv
pydantic

langchain
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-community
langgraph

groq
sentence-transformers
faiss-cpu

pypdf
python-docx

psycopg2-binary

easyocr
pillow
numpy

mcp